body {
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #369;
  font-size: 250%;
}
h2, h3 {
  color: #555;
  font-weight: lighter;
}

input, select, button {
  color: #555;
  font-family: Cambria, Georgia;
  font-size: 100%;
}

fieldset {
  border: 0;
}

a {
  cursor: pointer;
  cursor: hand;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
