<!-- Guard against missing customer (defensive programming) -->
<div *ngIf="customer">

  <!--Diagnostic: {{ customer | json }}-->

  <h2>{{customer.name}}</h2>

   <p><i>
    {{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}
    in {{customer.address.state}} in the {{customer.address.region}} region.
  </i></p>

  <fieldset>
    <label>
      Name:
      <input [(ngModel)]="customer.name" placeholder="Customer name">
    </label>
  </fieldset>

  <br>
  <label><input type="checkbox" [(ngModel)]="showAddress"/>Show address</label>

  <div *ngIf="showAddress">
    <h3>Address:</h3>
    <my-address [address]="customer.address"></my-address>
  </div>
</div>
